<md-dialog aria-label="Mango (Fruit)"> 
 <form>
<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Category</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
        
       <div layout="row">
   <md-input-container class="md-block">
          <label>Name</label>
          <input type="text" md-maxlength="30" required name="name" ng-model="category.name" />
          <div class="hint" ng-if="showHints">Tell us what we should call you!</div>
          <div ng-messages="category.name.$error" ng-if="!showHints">
            <div ng-message="required">Name is required.</div>
            
          </div>
        </md-input-container>
        </div>
        <div layout="row">
        
          
          <md-switch name="personal" ng-model="category.personal" aria-label="Switch 1">
    Private: {{ data.cb1 }}
  </md-switch>
   
        
 
      </div>
  </md-dialog-content>
  <md-dialog-actions>
        <md-button ng-click="createcategory()" class="md-primary">Save</md-button>
    <md-button ng-click="cancel()" class="md-primary">Cancel</md-button>
  </md-dialog-actions>
  </form>
</md-dialog>
